<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Index</title>
</head>
<body>
    <%- include('../partials/userview.ejs') %>
    <h1>Collection of all the birds in the index</h1>
    <a href=""
</body>
</html>