<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Bird to Model</title>
</head>
<body>
    <%- include('../partials/userview.ejs') %>
    <h1>Form to add bird to model</h1>
</body>
</html>