<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Bird to Model</title>
</head>
<body>
    <%- include('../partials/userview.ejs') %>
    <h1>Request to add a New Bird</h1>
    <p>Hold 'control' or 'shift' on keyboard to select multiple options for dropdown.</p>
    <form action="/birdapp/birds" method="POST">
        <label for="name">Bird Name:</label>
        <input autocomplete="off" type="text" name="name" id="name" required pattern="[A-Z][a-z]{1,}\D{0,}" />
        
        <label for="continent">Continent:</label>
        <select name="continent" id="continent" size="7" required multiple>
            <option value="Africa">Africa</option>
            <option value="Antartica">Antartica</option>
            <option value="Asia">Asia</option>
            <option value="Australia">Australia</option>
            <option value="Europe">Europe</option>
            <option value="North America">North America</option>
            <option value="South America">South America</option>
        </select>

        <label for="habitat">Habitat:</label>
        <select name="habitat" id="habitat" size="8" required multiple>
            <option value="Grassland">Grassland</option>
            <option value="Savannah">Savannah</option>
            <option value="Forest">Forest</option>
            <option value="Desert">Desert</option>
            <option value="Mountain">Mountain</option>
            <option value="Polar">Polar</option>
            <option value="Swamp">Swamp</option>
            <option value="Marsh">Marsh</option>
        </select>

        <label for="diet">Diet:</label>
        <select name="diet" id="diet" size="6" required multiple>
            <option value="Seeds">Seeds</option>
            <option value="Fruits">Fruits</option>
            <option value="Vegetables">Vegetables</option>
            <option value="Insects">Insects</option>
            <option value="Nuts">Nuts</option>
            <option value="Fish">Fish</option>
            <option value="Meat">Meat</option>
        </select>

        <label for="color">Color:</label>
        <input type="color" name="color" id="color" required>

        <label for="wingspan">Wingspan:</label>
        <input type="number" name="wingspan" id="wingspan" required pattern="[1-9][0-9]{0,2}"/>

        <label for="isNocturnal">Nocturnal?</label>
        <input type="checkbox" name="isNocturnal" id="isNocturnal" />

        <button type="submit">Request Bird for Index</button>

    </form>
</body>
</html>