<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/birdapp/birds" class="nav-link">All Birds</a></li>
        <li class="nav-item"><a href="/birdapp/collection" class="nav-link"><%= user.username%>'s Collection</a></li>
        <% if (user.isAdmin === true) {%>
            <li class="nav-item"><a href="/admin" class="nav-link">Administrator Page</a>
        <% } %>
        <li class="nav-item"><a href="/auth/sign-out" class="nav-link">Sign Out</a></li>
      </ul>
    </header>
  </div>