<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home PAge</title>
</head>
<body>
    <h1>Welcome to the Bird Watching App!</h1>
    <a href="/sign-up">Sign up to the Bird Watching app</a>
    <a href="/sign-in">Sign in to the Bird Watching app</a>
</body>
</html>